
.text-strike {
  text-decoration: line-through;
}

.box {
  margin: 0 0.5em 0 0.5em;
}

.app-badge {
  background-color: #27184F;
  color: #F56468;
  border: 1px solid #110336;
}

.text-dark {
  color: #ff0000 !important;
}

.list-dark {
  margin-top: 1.5em;
  border: 1px solid #110336;
}