.text-input-dark {
  width: 100%;
  color: #CAD0ED;
  padding: 5px;
  padding-left: 12px;
  border: none;
  border-radius: 6px;
  background-color: #180840;
  border-bottom: solid 3px #180840;
}

.text-input-dark:focus {
  background-color: #180840;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-color: #F56468;
  transition: 0.5s;

}


.input:placeholder {
  color: #636c72;
}

.text-input-dark-simple {
  width:90%;
  color: #CAD0ED;
  padding-left: 12px;
  border: none;
  background-color: #180840;
  border-bottom: solid 1px #F56468;
}
