.icon-button-sm {
  background-color: transparent;
  outline: none !important;
  width: 2.3em;
  color: #f56468;
  border: 1px solid #f56468;
  border-radius: 5px;
  min-height: 85%;
  height: 85%;
}

.icon-button-sm:hover,
.icon-button-sm:active {
  cursor: pointer;
  color: #27184f;
  background-color: #f56468;
  border-color: #f56468;
  outline: none !important;
  transition: background-color 0.2s ease-in,
              color 0.2s ease-in;
}


.ghost-button-thick-border {
  display: inline-block;
  font-weight: bold;
  background-color: transparent;
  padding: 3px;
  color: #f56468;
  border-radius: 20px;
  border: 3px solid #f56468;
  text-align: center;
  outline: none !important;
  text-decoration: none;
  transition: background-color 0.3s ease-out,
              color 0.3s ease-out;
}

.ghost-button-thick-border:hover:enabled,
.ghost-button-thick-border:active:enabled {
  background-color: #f56468;
  color: #27184f;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.active:disabled {
  background-color: #b0585a;
}

.active {
  background-color: #f56468;
  color: #27184f !important;
}

.ghost-button-thick-border:disabled {
  color: #b0585a;
  border: 3px solid #b0585a;
}