
.text-strike {
  text-decoration: line-through;
}

.app-badge {
  background-color: #27184F;
  color: #F56468;
  border-color: #F56468;
}

.text-dark {
  color: #ff0000 !important;
}

.list-item-dark {
  background-color: #180840;
}

.list-item-dark:hover {
  background-color: #706AA0;
}
